<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="component :: compoment_head">
    <title>Booking</title>
</head>

<body>
<!-- Menu -->
<header th:insert="component :: header"></header>

<!-- Content -->
<div class="container">

    <!-- Booking-->
    <div class="col-lg-8">
        <h1 class="mt-4">Забронировать</h1>

        <div class="card my-4">
            <div class="card-body">
                <form autocomplete="off"
                      method="POST"
                      th:action="@{/booking/create}"
                      th:object="${createBookingRequest}">

                    <div class="form-group required">
                        <label for="roomInput">Комната</label>
                        <select class="custom-select my-1 mt-0" id="roomInput" th:field="*{roomId}">
                            <option th:each="room : ${@roomService.getRooms()}"
                                    th:selected="${room.name == 'Главная'}"
                                    th:text="${room.name}"
                                    th:value="${room.id}">...
                            </option>
                        </select>
                    </div>

                    <!-- Search participants -->
                    <div class="form-group mt-2">
                        <label for="divSearch">Поиск и добавление участника</label>
                        <div class="input-group mt-0" id="divSearch">
                            <input aria-label="Список найденных участников"
                                   class="form-control" id="searchParticipant"
                                   list=foundEmails
                                   placeholder="Поиск участника"
                                   type=text>
                            <datalist id=foundEmails></datalist>
                            <button class="btn btn-secondary"
                                    id="addParticipant"
                                    type="button">Добавить
                            </button>
                        </div>

                        <!-- Selected participants -->
                        <div class="form-group mt-2" hidden id="selectedParticipantsGroup">
                            <label for="selectedParticipants">Список участников</label>
                            <div class="form-group mt-0" id="selectedParticipants"></div>
                        </div>

                        <div class="form-group required">
                            <label for="beginDateTime-input">Дата и время начала</label>
                            <input class="form-control"
                                   id="beginDateTime-input"
                                   required th:field="*{beginDateTime}"
                                   type="datetime-local">
                        </div>

                        <div class="form-group required">
                            <label for="endDateTime-input">Дата и время окончания</label>
                            <input class="form-control"
                                   id="endDateTime-input"
                                   required th:field="*{endDateTime}"
                                   type="datetime-local">
                        </div>

                        <button class="btn btn-primary" type="submit">Забронировать</button>
                    </div>
                </form>
            </div>

            <ul>
                <li th:each="err : ${#fields.errors('createBookingRequest.*')}"
                    th:text="${err}"/>
            </ul>

        </div>

    </div>

</div>

<script>
    const currentHost = window.location.origin,
        searchText = document.getElementById("searchParticipant"),
        foundParticipants = document.getElementById("foundEmails"),
        selectedParticipants = document.getElementById("selectedParticipants"),
        selectedParticipantGroup = document.getElementById("selectedParticipantsGroup"),

        csrfToken = document.getElementById("_csrf").content,
        csrfHeader = document.getElementById("_csrf_header").content,

        searchParticipantsPath = "/participants/search",
        selectedParticipantSet = new Set(),
        foundParticipantSet = new Set(),

        headers = new Headers();

    headers.append('Accept', 'application/json')
    headers.append('Content-Type', 'application/json')
    headers.append(csrfHeader, csrfToken);

    // Search participants
    searchParticipant.oninput = function () {
        foundParticipants.innerHTML = "";
        let requestEmail = searchText.value;

        if (requestEmail.length !== 0) {

            if (foundParticipantSet.has(searchText.value)) {
                foundParticipantSet.clear();
                return;
            }

            fetch(currentHost + searchParticipantsPath, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({
                    request: requestEmail
                })
            })
                .then(response => response.json())
                .then(data => {
                    data.forEach(item => {
                        let option = document.createElement('option');
                        option.value = item;
                        foundParticipants.appendChild(option);
                        foundParticipantSet.add(item);
                    })
                })
                .catch(error => {
                    console.log(error);
                })
        }
    }

    // Add participant
    addParticipant.onclick = function () {
        let requestEmail = searchText.value;
        searchText.value = "";

        if (!selectedParticipantSet.has(requestEmail) && requestEmail !== "") {
            selectedParticipantSet.add(requestEmail);

            foundParticipants.innerHTML = "";
            selectedParticipantGroup.hidden = false;

            let divNewParticipant = document.createElement('div');
            divNewParticipant.className = "input-group";
            divNewParticipant.id = requestEmail;

            let inputNewParticipant = document.createElement('input');
            inputNewParticipant.value = requestEmail;
            inputNewParticipant.name = "participantsOfBooking";
            inputNewParticipant.className = "form-control mt-1";
            inputNewParticipant.readOnly = true;

            let buttonRemoveParticipant = document.createElement('button');
            buttonRemoveParticipant.type = "button";
            buttonRemoveParticipant.className = "btn btn-secondary";
            buttonRemoveParticipant.textContent = "Удалить";
            buttonRemoveParticipant.onclick = function () {
                removeParticipant(requestEmail);
            }

            divNewParticipant.appendChild(inputNewParticipant);
            divNewParticipant.appendChild(buttonRemoveParticipant);

            selectedParticipants.appendChild(divNewParticipant);
        } else {
            console.log("The participant has already been added.")
        }
    }

    // Remove participant from list
    function removeParticipant(element) {
        selectedParticipantSet.delete(element);
        document.getElementById(element).remove();

        if (selectedParticipantSet.size === 0) {
            selectedParticipantGroup.hidden = true;
        }
    }

</script>

</body>

</html>