<!DOCTYPE HTML>
<html lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="component :: compoment_head">
    <title>Booking</title>
</head>

<body>
<!-- Меню -->
<header th:insert="component :: header"></header>

<!-- Контент -->
<div class="container">
    <div class="container">
        <a class="btn btn-secondary btn-sm" th:href="@{/(dayWeek=${previousWeek})}" type="button">Назад</a>
        <a class="btn btn-secondary btn-sm" th:href="@{/(dayWeek=${nextWeek})}" type="button">Вперед</a>
        <a class="btn btn-secondary btn-sm" sec:authorize="isAuthenticated()" th:href="@{/booking}" type="button">Забронировать</a>
    </div>
    <br>
    <div class="container tableEvents">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" th:each="day : ${week}">
                    <p class="m-0 p-0" th:text="${day.name}"></p>
                    <p class="m-0 p-0" th:text="${day.date}"></p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hourEvents : ${events}">
                <th scope="row" th:text="${hourEvents.hour}"></th>
                <td th:each="dayEvents : ${hourEvents.events}">
                    <small th:each="event : ${dayEvents}">
                        <button class="text-left col bg-warning text-dark rounded border m-0 pl-1 eventDescription"
                                data-content=""
                                data-html="true"
                                data-placement="right"
                                data-toggle="popover"
                                data-trigger="focus"
                                th:id="${'booking_' + event.bookingId}"
                                th:title="${'Бронирование:' + event.bookingId}">
                            <b><p class="m-0 p-0" th:text="${event.roomName}"></p></b>

                            <p class="m-0 p-0"
                               th:each="participant : ${event.participants}"
                               th:text="${'- ' + participant}"></p>
                        </button>
                        <br>
                    </small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    const
        currentHost = window.location.origin,
        getBookingPath = "{host}/booking/{id}",
        headers = new Headers(),

        basePopoverTemplate = "<p><em><strong>Начало: </strong>booking_replace_beginDateTime</em></p>" +
            "<p><em><strong>Окончание: </strong>booking_replace_endDateTime</em></p>" +
            "<p><em><strong>Продолжительность: </strong>booking_replace_duration мин.</em></p>" +
            "<p><em><strong>Комната: </strong>booking_replace_roomName</em></p>" +
            "<p><strong><em>Участники:</em></strong></p>" +
            "<hr/>";

    headers.append('Accept', 'application/json');
    headers.append('Content-Type', 'application/json');

    $('.eventDescription')
        .on('click', function popoverEventContent() {

            let url = getBookingPath
                .replace("{host}", currentHost)
                .replace("{id}",
                    $(this)
                        .attr("id")
                        .replaceAll("booking_", "")
                );

            fetch(url, {
                method: 'GET',
                headers: headers
            })
                .then(response => response.json())
                .then(data => {
                    let content = basePopoverTemplate
                        .replaceAll("booking_replace_beginDateTime", data.beginDateTime)
                        .replaceAll("booking_replace_endDateTime", data.endDateTime)
                        .replaceAll("booking_replace_duration", data.duration)
                        .replaceAll("booking_replace_roomName", data.roomName);

                    let ulParticipants = document.createElement('ul');
                    data.participants.forEach(participant => {
                        let li = document.createElement('li');
                        li.textContent = participant.shortFullName + " : " + participant.email;
                        ulParticipants.appendChild(li);
                    });

                    let divPopover = document.createElement('div')
                    divPopover.className = "container"
                    divPopover.innerHTML = content;
                    divPopover.appendChild(ulParticipants);

                    $(this)
                        .attr('data-content', divPopover.innerHTML)

                        .popover("show");

                })
                .catch(error => {
                    console.log(error);
                })
        });
</script>

</body>

</html>
